<!DOCTYPE html>
<html>
<head>
    <title>IMAGEVIEW</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include Templates/links.ejs%>
<h2>IMAGE HERE IT IS!</h2>
<br>
<div>



    <form method="get"  enctype="multipart/form-data" action="/image/image">
    <ul>
        <% for(var i=0; i<image.length; i++) {%>

        <li>
        	<% var str = image[i].path; %>
    		<% var rr = str.split("public"); %>
    		<% image[i].path = rr.join(" "); %>
    		
    		<img src="<%=image[i].path%>" style="height: 50%;width:50%;" class = "responsive-img">
        </li>
        <% } %>
    </ul>
    </form>
</div>
</body>
</html>