<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">AR EVENTS</a>
            </div>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/CreateEvent">Create</a></li>
                    <li><a href="/EditEvent">Edit</a></li>
                    <li><a href="/ViewEvent/ViewEvent">View</a></li>
                    <li><a href="/ContactUs">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1><b>&nbsp&nbsp&nbsp<%= title %></b></h1>
        <br><br>
    <p style="font: all;"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Hello everyone. :)  </p>
    <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Welcome to AR Events! Have a party/event coming up? Where to start from? We are here to take away your worries.</p>
  </body>
</html>